<div class="column right has-text-centered">
  <h1 class="title is-4">Sign up today!</h1>
  <p class="description">Start contributing to the community right away</p>
  <form class="signup-form">
    <div class="field">
      <div class="control">
        <input
          class="input is-medium"
          id="firstName-signup"
          type="text"
          placeholder="First Name"
        />
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input
          class="input is-medium"
          id="lastName-signup"
          type="text"
          placeholder="Last Name"
        />
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input
          class="input is-medium"
          id="userName-signup"
          type="text"
          placeholder="Username"
        />
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input
          class="input is-medium"
          id="email-signup"
          type="email"
          placeholder="Email"
        />
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input
          class="input is-medium"
          id="password-signup"
          type="password"
          placeholder="Password"
        />
      </div>
    </div>
    <button
      class="button is-block is-primary is-fullwidth is-medium"
    >Submit</button>
    <br />
    <small><em>Take a small step to a great future</em></small>
  </form>

</div>
<script src="/js/signup.js"></script>